@{
    ViewData["Title"] = "About";
    Layout = "_Layout";

}

<h1>About</h1>

<p>Add your favourite songs to this website!</p><br />
<p>In the add songs page you can add all your favourites, and you can see the added
    songs in the view songs page.
</p><br />

<p>This website is created with ASP.NET for the course .NET at Mid Sweden University 2022 by Tilda Källström.</p><br />
<p>The website is not real, but the music are.</p><br />


      <div class="gride2">
            <div class="user">
                <h3>-Best app in the world!</h3>
                <span class="users">Amanda Heisenberg from Colorado</span>
            </div>

            <div class="user">
                <h3>-I found my favourite bands here!</h3>
                <span class="users">Tommi Sparrow from Texas</span>
            </div>

            <div class="user">
                <h3>-My band made it to the app!</h3>
                <span class="users">Elias Pepper from Albania</span>
            </div>
        </div>




        <partial name="~/Views/Shared/_Time.cshtml" />