
<div class="mobile">
        <div class="ham" id="hamburger" onclick="hamburgermenu(this)">
          <div class="lineone"></div>
          <div class="linetwo"></div>
          <div class="linethree"></div>
        </div> 
       <!-- mobilmenyns navigering -->
         </div> 
     
            <nav class="navbar">
                  <ul>
                         <li class="nav-item">
                              <a class="" asp-controller="Tilda" asp-action="Index">Home</a>
                         </li>
                          <li class="nav-item">
                            <a class="" asp-controller="Tilda" asp-action="About">About</a>
                        </li>
                          <li class="nav-item">
                            <a class="" asp-controller="Tilda" asp-action="Add">Add song</a>
                        </li>
                        <li class="nav-item">
                            <a class="" asp-controller="Tilda" asp-action="Songs">View songs</a>
                        </li>
         
                   </ul>
             </nav>